body {
    font-size: .875rem;
}

#accordion {
    width: 100%;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    &-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &-heading {
        font-size: .75rem;
        text-transform: uppercase;
    }

    .nav-link {
        font-weight: 500;
        color: #fff;

        .fa {
            width: 24px;
            height: 24px;
        }

        &.active {
            color: #007bff;

            .feather {
                color: inherit;
            }
        }

        .feather {
            margin-right: 4px;
            color: #999;
        }

        &:hover {
            color: #007bff;
            font-size: 1rem;
        }

        &:hover .feather {
            color: inherit;
        }
    }
}

.navbar {
    &-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);

    &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
